 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Ruda:wght@400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
}

/* .header{
    display: flex;
    justify-content: space-around;
} */
/*
.nav-links{
    display: flex;
}

.hero-cta-button{
    width: 174px;
    height: 64px;
    background-color: #F94A3D;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.01em;
    color: #F6F6F6;
    border-radius: 16px;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    border: none;
}

.main-container{
    display: flex;
}

.main-container-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
} */


/* .container{
    display: flex;
    flex-direction: column;
    align-items: center; */
    /* text-align: center; */
    /* width: 1440px;
    height: 774px; */
    /* left: 240px; */
/* }
.recipies-header h1{
    width: 570px;
    left: 675px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    text-align: center;
    line-height: 72px;
    color: #212244;
}

.recipies-header ul{
    list-style:none ;
    margin-top: 40px;
    padding:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.recipies-header hr{
    width: 640px;
}

.cards-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-top: 7rem;
    gap: 50px;
} */





body{

    /* background: rgba(249, 74, 61, 0.07);  */
    background: linear-gradient(to top right, #F94A3D12, #fff);
}

/* Header styles  */

header{
    /* background-color: rgba(253, 248, 248, 0.064); */
    display: flex;
    flex-direction: row;
    gap: 200px;
    margin-top: 24px;
    margin-left: 140px;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 30px;
    color: #212244;
    margin-top: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: .5s all ease;
}


.nav-links :hover{
    text-decoration: underline;
    color:blueviolet;
}

.search{
    display: flex;
    gap: 25px;
}

.search-input{
    border:none;
    outline: none;
    background-color:#fff;
    border-radius: 10px;
    color:#69697B;
    width: 222px;
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-container {
    position: relative;
    display: inline-block;
}  

.search-icon {
    position: absolute;
    top: 46%;
    left: 198px;
    transform: translateY(-50%);
    height: 20px;
}

.purchases{
    height: 40px;
    position: relative;
    top: -4px;
    cursor: pointer;
}

.search button{
    cursor: pointer;
    border:none;
    outline: none;
    width: 100px;
    border-radius: 10px;
    background-color:#F94A3D;
    color: #fff;
}

.search button:hover{
    color: darkorchid;
}

.quick-actions{
    position: relative;
    top: -5px;
}

/* Main Section  */

main{
    margin-left: 140px;
}

.main-container-left{
    padding-top: 100px;
    width: 524px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* background: #F94A3D12; */
}

.main-container-left h1{
    color: #212244;
    font-size: 60px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 70px;
}

.main-container-left h1 span{
    color: #F94A3D;
}

.main-container-left p{
    color: var(--food-delivery-p, #69697B);
    font-size: 18px;
    font-family: Poppins;
    line-height: 32px;
}

.main-container-left button{
    width: 174px;
    height: 60px;
    border-radius: 16px;
    background: #F94A3D;
    color: #fff;
    border: none;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-container-right{
    /* margin-top: 20px; */
    margin-left: 190px;
}

.main-container-right img{
    height: 650px;
    width: 702px;
}

.text-img {
    display: flex;
    flex-direction: row;
    background-color: #FDECEC;
    align-items: center;
    height: 50px;
    width:255px;
    border-radius:40px;
}

.text-img span {
    margin-right: 30px;
    font-size: 18px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    line-height: 16px;
    margin-left: 25px;
    color: #F94A3D;
}

.text-img img {
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    height: 35px;
    width: 35px;
}

.main-container{
    display: flex;
    flex-direction: row;
}

/* Section 2  */

.section-2{
    background-color: #fff;
}

.container2{
    margin-left: 140px;
    padding-top:140px ;
    padding-bottom: 140px;
    display: flex;
    flex-direction: row;
}

.caption{
    width: 320px;
    display: flex;
    width: 337px;
    flex-direction: column;
}

.caption h1{
    color: var(--food-delivery-pg, #212244);
    font-size: 48px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 58px;
}

.caption p{
    color: var(--food-delivery-p, #69697B);
    font-size: 18px;
    font-family: Poppins;
    line-height: 31px;
}

.cards{
    display: flex;
    flex-direction: row;
    margin-left: 92px;
    gap: 32px;
}

.card h1{
    color: #212244;
    font-size: 22px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 40px;
    width: 216px;
    text-align: center;
    margin-left: 10px;
    position: relative;
    bottom: 70px;
}

.card{
    width: 283px;
    height: 283px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 20px 40px 90px -5px rgba(133, 15, 15, 0.08);
}

.card img{
    max-width: 100%;
    object-fit: cover;
    position: relative;
    bottom: 102px;
    left: 10px;
}

.circle{
    background-color: #FBEDE4;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 70px;
    left:32px ;
}

